<link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

<div class="col-12 sticky-top">
    <div class="card">
        <div class="card-body no-gutters">
            <h5 class="my-3">School App</h5>
            <div class="fm-menu">
                <div class="list-group list-group-flush"> 
                    <a *ngIf="!isLoggedIn" href="javascript:;" class="list-group-item py-1" routerLink="/login"><i class="bx bx-open me-2"></i><span>Login</span></a>
                    <a *ngIf="isLoginFailed" class="nav-link" (click)="logout()">LogOut</a>
                    <a href="javascript:;" class="list-group-item py-1" routerLink="/students"><i class="bx bx-folder me-2"></i><span>Students</span></a>
                    <a href="javascript:;" class="list-group-item py-1" routerLink="/teachers"><i class="bx bx-devices me-2"></i><span>Teachers</span></a>
                    <a href="javascript:;" class="list-group-item py-1" routerLink="/courses"><i class="bx bx-analyse me-2"></i><span>Courses</span></a>
                    <a href="javascript:;" class="list-group-item py-1" routerLink="/categories"><i class="bx bx-plug me-2"></i><span>Categories</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

